@mixin sizing($width ,$height) {
    width: $width;
    height: $height;
}

@mixin flex($dir, $justify, $align){
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
}

@mixin titleForm() {
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
    
    .orange {
        color: $primary;
    }
}

@mixin btn-form1() {
    padding: 14px 42px;
    color: #ffffff;
    background-color: $primary;
    margin-top: 4px;
    border-radius: 4px;
    text-transform: capitalize;
    font-size: 14px;
    border: none;
    
    &:hover {
        width: auto;
        transition: all .2s ease-in-out;
        cursor: pointer;
        letter-spacing: 2px;
    }
}