::-moz-selection {
  color: #010103;
  background-color: white;
}

::selection {
  color: #010103;
  background-color: white;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

header, #banner {
  padding: 0 6%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #010103;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 14px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eee;
}

body {
  background-color: #010103;
  position: relative;
}

header {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 80px;
  background-color: #010103;
  border-bottom: 1px solid #aaaaaa73;
  position: fixed;
}

header .top-menu {
  width: 36%;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header ul a {
  color: #ffffff;
  text-decoration: none;
}

header ul a:hover {
  color: #d3ad7f;
  border-bottom: 1px solid #d3ad7f;
  padding-bottom: 6px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header .top-icons svg {
  width: 18px;
  fill: white;
}

header .top-icons svg:hover {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  fill: #eee;
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main {
  width: 100vw;
  height: auto;
  padding-top: 86px;
  padding-top: 10vh;
  color: white;
}

main #banner {
  width: 100vw;
  height: 90vh;
  background: url("../img/home-img.jpeg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

main #banner #banner-content {
  width: 46%;
}

main #banner #banner-content .banner-title {
  font-size: 60px;
  text-transform: uppercase;
}

main #banner #banner-content .banner-caption {
  color: #eee;
  font-size: 18px;
  line-height: 24px;
  margin: 8px 0;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}

main #banner #banner-content .banner-btn {
  padding: 14px 42px;
  color: #ffffff;
  background-color: #d3ad7f;
  margin-top: 4px;
  border-radius: 4px;
  text-transform: capitalize;
  font-size: 14px;
}

main #banner #banner-content .banner-btn:hover {
  width: auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  letter-spacing: 2px;
}
/*# sourceMappingURL=style.css.map */