@import "./mixins";
@import "./variables";
// --------

::selection {
    color: $black;
    background-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header, #banner {
    padding: 0 6%;
}

// ----scrollbar----

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 14px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #eee; 
}

body {
    background-color: $black;
    position: relative;
}

// ----Header----
header {
    display: none;
    @include flex(row, space-between, center);
    @include sizing(100vw, 80px);
    background-color: $black;
    border-bottom: 1px solid #aaaaaa73;
    position: fixed;
    .top-menu {
        width: 36%;
    }

    ul {
        @include flex(row, space-between, center);
        list-style: none;
        a {
            color: #ffffff;
            text-decoration: none;
            &:hover {
                color: $primary;
                border-bottom: 1px solid $primary;
                padding-bottom: 6px;
                transition: all .2s ease-in-out;
            }
        }
    }

    .top-icons {
        svg {
            width: 18px;
            fill: white;
            &:hover {
                transition: all .2s ease-in-out;
                fill: #eee;
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}

// ----Main----
main {
    @include sizing(100vw, auto);
    padding-top: 86px;
    padding-top: 10vh;
    color: white;

    // Banner
    #banner {
        @include sizing(100vw, 90vh);
        background: url("../img/home-img.jpeg");
        background-position: center;
        background-size: cover;
        @include flex(column, center, start);

        #banner-content {
            width: 46%;
            .banner-title {
                font-size: 60px;
                text-transform: uppercase;
            }
            .banner-caption {
                color: #eee;
                font-size: 18px;
                line-height: 24px;
                margin: 8px 0;
                text-transform: capitalize;
                font-family: 'Roboto', sans-serif;
            }
            .banner-btn {
                padding: 14px 42px;
                color: #ffffff;
                background-color: $primary;
                margin-top: 4px;
                border-radius: 4px;
                text-transform: capitalize;
                font-size: 14px;
                
                &:hover {
                    width: auto;
                    transition: all .2s ease-in-out;
                    cursor: pointer;
                    letter-spacing: 2px;
                }
            }
        }
    }
}