@import "./mixins";
@import "./variables";
// --------

::selection {
    color: $black;
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    // border: 1px solid red;
}

header, #banner, #about, #menu {
    padding: 0 6%;
}

// ----scrollbar----

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 14px;
    /* Handle on hover */
    &:hover {
        background: #eee; 
    }
}

body {
    background-color: $black;
    position: relative;
    overflow-x: hidden;
}

// ----Header----
header {
    display: none;
    @include flex(row, space-between, center);
    @include sizing(100vw, 80px);
    background-color: $black;
    border-bottom: 1px solid #aaaaaa73;
    position: fixed;
    .top-menu {
        width: 36%;
    }

    // Menu
    ul {
        @include flex(row, space-between, center);
        list-style: none;
        a {
            color: #ffffff;
            text-decoration: none;
            font-size: 14px;
            &:hover {
                color: $primary;
                border-bottom: 1px solid $primary;
                padding-bottom: 6px;
                transition: all .2s ease-in-out;
            }
        }
    }

    // Icons
    .top-icons {
        svg {
            width: 18px;
            fill: white;
            &:hover {
                transition: all .2s ease-in-out;
                fill: #eee;
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }
}

// ----Main----
main {
    @include sizing(100vw, auto);
    padding-top: 10vh;
    color: white;

    // Banner
    #banner {
        @include sizing(100vw, 90vh);
        background: url("../img/home-img.jpeg");
        background-position: center;
        background-size: cover;
        @include flex(column, center, start);

        #banner-content {
            width: 46%;
            .banner-title {
                font-size: 60px;
                text-transform: uppercase;
            }
            .banner-caption {
                color: #eee;
                font-size: 18px;
                line-height: 24px;
                margin: 8px 0;
                text-transform: capitalize;
                font-family: 'Roboto', sans-serif;
            }
            .banner-btn {
                @include btn-form1;
            }
        }
    }
}


// ----About----
#about {
    .about__title {
        @include titleForm;
    }

    .about__card {
        @include sizing(100%, 56vh);
        @include flex(row, center, center);
        background-color: $secondary;
        border-radius: 2px;
        margin-bottom: 100px;
    }

    div {
        @include sizing(50%, 100%);
    }
    
    div:first-child {
        .about__card-img {
            @include sizing(100%, 100%);
        }
    }
    div:nth-child(2) {
        @include flex(column, space-around, start);
        padding: 3rem 2rem;
        .about__card-title{
            font-size: 32px;
            text-transform: capitalize;
        }
        .about__card-caption {
            color: #ccc;
            line-height: 28px;
        }
        .about__card-btn {
            @include btn-form1;
        }
    }
}

// ----Menu----
#menu {
    .menu__title {
        @include titleForm;
    }

    .menu__items-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
        grid-template-rows: repeat(2, minmax(300px, 1fr));
        grid-gap: 12px;
        .menu__item {
            @include flex(column, space-evenly, center);
            border: 2px solid #373333;
            padding: 16px 12px;
            .menu__item-img {
                border-radius: 50%;
            }
            .menu__item-title {
                font-size: 20px;
                text-transform: capitalize;
            }
            .menu__item-price {
                font-size: 26px;
                .original-price {
                    font-size: 14px;
                    margin-left: 4px;
                    text-decoration: 1px line-through white;
                }
            }
            .menu__item-btn {
                @include btn-form1;
                padding: 10px 30px;
                font-size: 16px;
                border-radius: 2px;
                &:hover {
                    color: black;
                }
            }

            // Hover mode
            &:hover {
                background-color: white;
                transition: all 0.2s ease-in-out;
            }
            &:hover .menu__item-title {
                color: black;
                transition: all 0.2s ease-in-out;
            }
            &:hover .menu__item-price, .menu__item:hover .original-price {
                color: black;
                transition: all 0.2s ease-in-out;
            }
            &:hover .original-price {
                text-decoration: 1px line-through black !important;
            }
            &:hover .menu__item-btn {
                color: black;
                transition: all 0.2s ease-in-out;
            }
        }
    }
}