::-moz-selection {
  color: #010103;
  background-color: white;
}

::selection {
  color: #010103;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

header, #banner, #about, #menu, #products, #review {
  padding: 0 6%;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #010103;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 14px;
  /* Handle on hover */
}

::-webkit-scrollbar-thumb:hover {
  background: #eee;
}

body {
  background-color: #010103;
  position: relative;
  overflow-x: hidden;
}

header {
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 80px;
  background-color: #010103;
  border-bottom: 1px solid #aaaaaa73;
  position: fixed;
}

header .top-menu {
  width: 36%;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header ul a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

header ul a:hover {
  color: #d3ad7f;
  border-bottom: 1px solid #d3ad7f;
  padding-bottom: 6px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header .top-icons svg {
  width: 18px;
  fill: white;
}

header .top-icons svg:hover {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  fill: #eee;
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

main {
  width: 100vw;
  height: auto;
  padding-top: 10vh;
  color: white;
}

main #banner {
  width: 100vw;
  height: 90vh;
  background: url("../img/home-img.jpeg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

main #banner #banner-content {
  width: 46%;
}

main #banner #banner-content .banner-title {
  font-size: 60px;
  text-transform: uppercase;
}

main #banner #banner-content .banner-caption {
  color: #eee;
  font-size: 18px;
  line-height: 24px;
  margin: 8px 0;
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}

main #banner #banner-content .banner-btn {
  padding: 14px 42px;
  color: #ffffff;
  background-color: #d3ad7f;
  margin-top: 4px;
  border-radius: 4px;
  text-transform: capitalize;
  font-size: 14px;
  border: none;
}

main #banner #banner-content .banner-btn:hover {
  width: auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  letter-spacing: 2px;
}

#about .about__title {
  color: white;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

#about .about__title .orange {
  color: #d3ad7f;
}

#about .about__card {
  width: 100%;
  height: 56vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #13131a;
  border-radius: 2px;
  margin-bottom: 100px;
}

#about div {
  width: 50%;
  height: 100%;
}

#about div:first-child .about__card-img {
  width: 100%;
  height: 100%;
}

#about div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 3rem 2rem;
}

#about div:nth-child(2) .about__card-title {
  font-size: 32px;
  text-transform: capitalize;
}

#about div:nth-child(2) .about__card-caption {
  color: #ccc;
  line-height: 28px;
}

#about div:nth-child(2) .about__card-btn {
  padding: 14px 42px;
  color: #ffffff;
  background-color: #d3ad7f;
  margin-top: 4px;
  border-radius: 4px;
  text-transform: capitalize;
  font-size: 14px;
  border: none;
}

#about div:nth-child(2) .about__card-btn:hover {
  width: auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  letter-spacing: 2px;
}

#menu .menu__title {
  color: white;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

#menu .menu__title .orange {
  color: #d3ad7f;
}

#menu .menu__items-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(312px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
  -ms-grid-rows: (minmax(300px, 1fr))[2];
      grid-template-rows: repeat(2, minmax(300px, 1fr));
  grid-gap: 12px;
}

#menu .menu__items-container .menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #373333;
  padding: 16px 12px;
}

#menu .menu__items-container .menu__item .menu__item-img {
  border-radius: 50%;
}

#menu .menu__items-container .menu__item .menu__item-title {
  font-size: 20px;
  text-transform: capitalize;
}

#menu .menu__items-container .menu__item .menu__item-price {
  font-size: 26px;
}

#menu .menu__items-container .menu__item .menu__item-price .original-price {
  font-size: 14px;
  margin-left: 4px;
  -webkit-text-decoration: 1px line-through white;
          text-decoration: 1px line-through white;
}

#menu .menu__items-container .menu__item .menu__item-btn {
  padding: 14px 42px;
  color: #ffffff;
  background-color: #d3ad7f;
  margin-top: 4px;
  border-radius: 4px;
  text-transform: capitalize;
  font-size: 14px;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 2px;
}

#menu .menu__items-container .menu__item .menu__item-btn:hover {
  width: auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  letter-spacing: 2px;
}

#menu .menu__items-container .menu__item .menu__item-btn:hover {
  color: black;
}

#menu .menu__items-container .menu__item:hover {
  background-color: white;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#menu .menu__items-container .menu__item:hover .menu__item-title {
  color: black;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#menu .menu__items-container .menu__item:hover .menu__item-price, #menu .menu__items-container .menu__item .menu__item:hover .original-price {
  color: black;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#menu .menu__items-container .menu__item:hover .original-price {
  -webkit-text-decoration: 1px line-through black !important;
          text-decoration: 1px line-through black !important;
}

#menu .menu__items-container .menu__item:hover .menu__item-btn {
  color: black;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#products {
  margin-top: 4rem;
}

#products .products__title {
  color: white;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

#products .products__title .orange {
  color: #d3ad7f;
}

#products .products__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(312px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
  -ms-grid-rows: (minmax(300px, 1fr))[1];
      grid-template-rows: repeat(1, minmax(300px, 1fr));
  grid-gap: 12px;
}

#products .products__container .products__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #373333;
  padding: 16px 12px;
}

#products .products__container .products__product .products__product-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

#products .products__container .products__product .products__product-buttons svg {
  width: 44px;
  height: 44px;
  border: 2px solid #373333;
  padding: 10px;
  margin: 20px 0;
  fill: white;
  border-radius: 2px;
}

#products .products__container .products__product .products__product-buttons svg:hover {
  background-color: #d3ad7f;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: 2px solid #d3ad7f;
}

#products .products__container .products__product .products__product-title {
  font-size: 24px;
  margin: 14px 0;
  text-transform: capitalize;
}

#products .products__container .products__product .products__product-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px;
}

#products .products__container .products__product .products__product-stars svg {
  width: 22px;
  height: 22px;
  fill: #d3ad7f;
  margin: 0 2px;
}

#products .products__container .products__product .products__product-price {
  font-size: 26px;
}

#products .products__container .products__product .products__product-price .original-price {
  font-size: 14px;
  margin-left: 4px;
  -webkit-text-decoration: 1px line-through white;
          text-decoration: 1px line-through white;
}

#review {
  margin-top: 4rem;
}

#review .review__title {
  color: white;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}

#review .review__title .orange {
  color: #d3ad7f;
}

#review .review__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(312px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
  -ms-grid-rows: (minmax(300px, 1fr))[1];
      grid-template-rows: repeat(1, minmax(300px, 1fr));
  grid-gap: 12px;
}

#review .review__container .review__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #373333;
  padding: 16px 12px;
}

#review .review__container .review__review .review__img {
  margin: 24px 0;
}

#review .review__container .review__review .review__review-text {
  width: 86%;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#review .review__container .review__review .review__review-profile {
  width: 100px;
  border-radius: 50%;
  margin: 10px;
}

#review .review__container .review__review .review__review-name {
  font-size: 24px;
  margin: 6px 0;
  text-transform: capitalize;
}

#review .review__container .review__review .review__review-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px;
}

#review .review__container .review__review .review__review-stars svg {
  width: 22px;
  height: 22px;
  fill: #d3ad7f;
  margin: 0 2px;
}
/*# sourceMappingURL=style.css.map */